<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lindur Plan Laguboti</title>
  <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>

<body>

  <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button"
    class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path clip-rule="evenodd" fill-rule="evenodd"
        d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
      </path>
    </svg>
  </button>

  <aside id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-sidebar dark:bg-gray-800">
      <a href="/" class="items-center pl-2.5">
        <img src="{{url_for('static',filename='img/logo.png')}}" class="mx-auto block w-32 h-32 object-cover mb-4" />
        <span
          class="text-xl font-semibold whitespace-nowrap text-white text-center mx-auto block mb-4">Lindur
          Plan Laguboti</span>
      </a>
      <ul class="space-y-2 font-medium mt-auto">
        <li>
          <a href="/"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white bg-secondary dark:hover:bg-gray-700">
            <span class="flex-1 ml-3 whitespace-nowrap">Beranda</span>
            <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-gray-900">
              <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 transition duration-75 text-gray-900" fill="none"
                stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a href="/ta" class="flex items-center p-2 text-gray-400 rounded-lg dark:text-white dark:hover:bg-gray-700">
            <span class="flex-1 ml-3 whitespace-nowrap">Scope TA</span>
            <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-gray-900">
              <svg aria-hidden="true"
                class="flex-shrink-0 w-6 h-6 transition duration-75 text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a href="/newcluster" class="flex items-center p-2 text-gray-400 rounded-lg dark:text-white dark:hover:bg-gray-700">
            <span class="flex-1 ml-3 whitespace-nowrap">New Cluster</span>
            <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-gray-400">
              <svg aria-hidden="true"
                class="flex-shrink-0 w-6 h-6 transition duration-75 text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="justify-center items-center p-2 text-white absolute bottom-4 left-8 right-0">
      <p class="font-semibold">TA-13-2022</p>
    </div>
  </aside>
  <div class="p-4 sm:ml-64 bg-background">
    <div class="flex items-center mb-8">
      <hr class="flex-grow border-secondary border-t border-4">
      <h1 class="text-xl font-bold mx-4">Lindur Plan Laguboti</h1>
      <hr class="flex-grow border-secondary border-t border-4">
    </div>
    <div class="grid grid-cols-3 gap-2 mb-4">
      <div class="flex items-center justify-start rounded">
        <img src="{{url_for('static',filename='img/1.png')}}" />
      </div>
      <div class="flex items-center justify-center rounded">
        <img src="{{url_for('static',filename='img/2.png')}}" />
      </div>
      <div class="flex items-center justify-end rounded">
        <img src="{{url_for('static',filename='img/3.png')}}" />
      </div>
    </div>
    <div class="mb-4 rounded bg-white dark:bg-gray-800 p-4">
      <p class="text-dark font-semibold mb-2">Apa Itu UD Lindur Plan?</p>
      <p class="text-justify text-dark">UD. Lindur Plan Laguboti merupakan usaha dagang yang beroperasi dalam segmen penjualan bahan-bahan bangunan dan peralatan rumah tangga. Usaha dagang ini menilai persediaan barangnya dengan menggunakan “fast-moving”. Dalam mengelola data penjualan atau transaksi produk, usaha dagang Lindur Plan Laguboti masih manual yaitu dengan menyimpan record data penjualan. Namun, dengan jumlah data yang cukup besar, maka sering terjadi kehilangan record data yang bisa mengakibatkan fatal dalam mempertahankan strategi penjualan produk. Record data tersebut menjadi menumpuk dan hanya sebagai salinan atau copy-an saja. Dengan permasalahan tersebut, pemilik usaha dagang mengalami kesulitan untuk melakukan persediaan barang dalam penjualan produk kembali.</p>
    </div>
    <div class="mb-4 rounded bg-white dark:bg-gray-800 p-4">
      <p class="text-dark font-semibold mb-2">Kenapa Harus Memilih Lindur Plan Laguboti?</p>
      <p class="text-justify text-dark">Usaha Dagang (UD) Lindur Plan Laguboti merupakan usaha dagang yang beroperasi dalam segmen penjualan perusahaan ritel yaitu bahanan bangunan dan peralatan rumah tangga. Berdasarkan observasi peneliti yang dilakukan dengan wawancara langsung kepada pemilik UD. Lindur Plan Laguboti, bahwa terdapat masalah terkait penjualan produk yang terjadi dalam beberapa bulan terakhir yaitu Oktober 2022 hingga Desember 2022. Dalam penjualan produk terdapat jenis persediaan aliran arus barang yang memiliki tiga kategori jenis penjualan yakni, fast-moving, medium-moving, dan slow-moving. Toko UD. Lindur Plan Laguboti menilai persediaan nya yaitu menggunakan “fast-moving” untuk mengelola data penjualan produk yang cukup besar. Data masih diolah dengan manual dan masih belum terdapat analisis terhadap data-data penjualan produk dengan menyeluruh. oleh karena itu, , terdapat banyak barang yang tidak laris menumpuk dan tidak ada stok barang.</p>
    </div>
    <div class="flex items-center my-8">
      <hr class="flex-grow border-secondary border-t border-4">
      <h1 class="text-xl font-bold mx-4">Clustering Fuzzy C-Means</h1>
      <hr class="flex-grow border-secondary border-t border-4">
    </div>
    <div class="mb-4 rounded bg-white dark:bg-gray-800 p-4">
      <p class="text-dark font-semibold mb-2">Scope TA Kelompok 13 - 2022</p>
      <p class="text-justify text-dark">Pada penelitian tugas akhir ini akan mengambil selama 3 bulan yaitu bulan oktober, November dan Desember 2022, dan permasalahan yang sering terjadi adalah  pada stok barang UD. Lindur Plan Laguboti, di mana barang slow-moving bertumpuk di gudang dan menyebabkan barang fast-moving tidak berjalan dengan baik. Salah satu contohnya adalah kualitas barang menjadi rusak, kering, dan tidak layak dijual serta penumpukan barang yang slow-moving. Permasalahan ini dapat memengaruhi alur penjualan produk. oleh karena itu, kami mengambil UD.Lindur Plan Laguboti</p>
    </div>
    <div class="mb-4 rounded bg-white dark:bg-gray-800 p-4">
      <p class="text-dark font-semibold mb-2">Apa Itu Clustering?</p>
      <p class="text-justify text-dark">Clustering adalah proses pengelompokan objek berdasarkan informasi yang dikumpulkan dari data yang menggambarkan hubungan antar objek, dengan prinsip memaksimalkan kesamaan antar anggota kelas dan meminimalkan kesamaan antar kelas atau cluster. Dalam melakukan clustering perlu dilakukannya analisis yang dibagi menjadi dua tahapan, yaitu:
        <br>1) Pemutusan terkait jumlah cluster akan ditentukan atau tidak ditentukan.
        <br>2) Penentuan algoritma yang digunakan pada proses clustering yang bertujuan sebagai proses pemutusan dari jumlah cluster yang akan dibentuk.
        Dalam analisis cluster, dapat mengambil salah satu dari dua pendekatan, yaitu hard clustering, yang digunakan saat data tersebut dalam bentuk crisp, dan soft clustering saat data tersebut dalam bentuk fuzzy.</p>
    </div>
    <div class="mb-4 rounded bg-white dark:bg-gray-800 p-4">
      <p class="text-dark font-semibold mb-2">Apa Itu Fuzzy?</p>
      <p class="text-justify text-dark">Fuzzy clustering merupakan suatu metode clustering yang menggunakan konsep keanggotaan atau nilai kebenaran untuk mengelompokkan data ke dalam beberapa cluster. Pada fuzzy clustering, setiap data diberikan nilai keanggotaan untuk setiap cluster yang ada, sehingga data dapat termasuk ke dalam beberapa cluster dengan tingkat keanggotaan yang berbeda-beda. Dengan menggunakan nilai keanggotaan, fuzzy clustering memungkinkan adanya data yang ambigu atau tidak jelas untuk dapat dikelompokkan ke dalam beberapa cluster dengan tingkat keanggotaan yang lebih rendah. Metode fuzzy clustering banyak digunakan dalam berbagai aplikasi, seperti pengelompokan produk pada analisis pasar, pengelompokan pasien pada analisis medis, dan lain-lain. Kelebihan dari fuzzy clustering adalah kemampuannya untuk memproses data yang ambigu atau tidak jelas, serta memberikan informasi tentang tingkat keanggotaan setiap data pada setiap cluster yang ada.</p>
    </div>
    <div class="mb-4 rounded bg-white dark:bg-gray-800 p-4">
      <p class="text-dark font-semibold mb-2">Apa Itu Fuzzy C-Means Clustering?</p>
      <p class="text-justify text-dark">Fuzzy clustering merupakan suatu teknik buat memilih cluster yang berdasarkan dalam jeda memakai fungsi keanggotaan fuzzy. Derajat keanggotan kegunaannya adalah jarak antara suatu himpunan fuzzy menggunakan suatu himpunan crisp terdekat. Metode untuk mendistribusikan semua objek ke cluster paling dekat yang di mana kedekatan dari kedua objek akan ditentukan oleh jarak kedua objek tersebut yaitu pada penelitian ini menggunakan Minkowski Disctance untuk memperhitungkan jarak seluruh data ke masing-masing centroid.</p>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>

</html>