<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lindur Plan Laguboti</title>
  <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='datatables/datatables.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='dist/css/tables.css')}}">

</head>

<body>

  <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button"
    class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path clip-rule="evenodd" fill-rule="evenodd"
        d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
      </path>
    </svg>
  </button>

  <aside id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-sidebar dark:bg-gray-800">
      <a href="/" class="items-center pl-2.5">
        <img src="{{url_for('static',filename='img/logo.png')}}" class="mx-auto block w-32 h-32 object-cover mb-4" />
        <span
          class="self-center text-xl font-semibold whitespace-nowrap text-white text-center mx-auto block mb-4">Lindur
          Plan Laguboti</span>
      </a>
      <ul class="space-y-2 font-medium">
        <li>
          <a href="/" class="flex items-center p-2 text-gray-400 rounded-lg">
            <span class="flex-1 ml-3 whitespace-nowrap">Beranda</span>
            <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-gray-900">
              <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 transition duration-75 text-gray-400" fill="none"
                stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a href="/ta" class="flex items-center p-2 text-gray-900 rounded-lg bg-secondary">
            <span class="flex-1 ml-3 whitespace-nowrap">Scope TA</span>
            <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-gray-900">
              <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 transition duration-75 text-gray-900" fill="none"
                stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a href="/newcluster" class="flex items-center p-2 text-gray-400 rounded-lg">
            <span class="flex-1 ml-3 whitespace-nowrap">New Cluster</span>
            <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-gray-400">
              <svg aria-hidden="true"
                class="flex-shrink-0 w-6 h-6 transition duration-75 text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="justify-center items-center p-2 text-white absolute bottom-4 left-8 right-0">
      <p class="font-semibold">TA-13-2022</p>
    </div>
  </aside>
  <div class="p-4 sm:ml-64 bg-background">
    <div class="flex items-center">
      <hr class="flex-grow border-secondary border-t border-4">
      <h1 class="text-xl font-bold mx-4">Hasil Clustering Kelarisan di</h1>
      <hr class="flex-grow border-secondary border-t border-4">
    </div>
    <div class="justify-center items-center mb-8">
      <h1 class="text-xl font-bold text-center mx-auto block">Scope TA 13 2022</h1>
    </div>

    <div class="mb-4 rounded bg-white dark:bg-gray-800 p-4">
      <p class="text-dark font-semibold mb-2">Deskripsi Hasil Clustering Kelarisan Scope TA 13 2022</p>
      <p class="text-justify text-dark">Penelitian Tugas Akhir yang disusun dan diimplementasikan oleh kelompok 13
        merupakan penelitian yang beranjak dari permasalahan atau current system yang terjadi di Usaha Dagang (UD)
        Lindur Plan Laguboti. Adapun scope yang dipakai pada pengerjaan Tugas Akhir ini yaitu di mana hanya melakukan
        clustering selama 3 bulan dan hanya berbentuk prototype website interface. Data-data yang dipakai berasal dari
        hasil penjualan yang terjadi di UD Lindur Plan Laguboti. Data-data ini akan menjadi dataset kelompok 13 yang
        dibuat ke dalam bentuk Excel atau CSV dan akan di proses sehingga menghasilkan cluster yang baik dan sesuai
        dengan tingkat kelarisannya. Tingkat kelarisan tersebut akan dibagi menjadi 3 cluster atau kelompok yaitu Sangat
        Laris (C1), Laris (C2), dan Tidak Laris (C3).</p>
    </div>
    <div class="mb-4 rounded bg-white dark:bg-gray-800 p-4">
      <div class="mb-4">
        <span class="font-semibold mr-4">A. Total Cluster</span>
        <span class="text-gray-500">Proses Clustering Berakhir Di sini :</span>
      </div>
      <table>
        <tbody>
          <tr>
            <td class="pl-5 pr-2"><span>Sangat Laris</span></td>
            <td><span>(C1) = 395 Produk</span></td>
          </tr>
          <tr>
            <td class="pl-5 pr-2"><span>Laris</span></td>
            <td><span>(C2) = 369 Produk</span></td>
          </tr>
          <tr>
            <td class="pl-5 pr-2"><span>Tidak Laris</span></td>
            <td><span>(C3) = 269 Produk</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mb-4 rounded bg-white dark:bg-gray-800 p-4">
      <p class="text-dark font-semibold mb-4">B. Hasil Clustering dalam Bentuk Tabel</p>

      <div class="relative overflow-x-auto">
        <table id="data-table" class="w-full text-sm text-left text-gray-500 mb-4">
          <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3 no-sort">
                Invoice No
              </th>
              <th scope="col" class="px-6 py-3 no-sort">
                Stok Awal
              </th>
              <th scope="col" class="px-6 py-3 no-sort">
                Stok Akhir
              </th>
              <th scope="col" class="px-6 py-3 no-sort">
                Nama Barang
              </th>
              <th scope="col" class="px-6 py-3 no-sort">
                Jenis Barang
              </th>
              <th scope="col" class="px-6 py-3 no-sort">
                Kode Barang
              </th>
              <th scope="col" class="px-6 py-3 no-sort">
                Kuantitas Barang
              </th>
              <th scope="col" class="px-6 py-3 no-sort">
                Tanggal
              </th>
              <th scope="col" class="px-6 py-3">
                Cluster
              </th>
            </tr>
          </thead>
          <tbody>
            {% for index, row in data.iterrows() %}
            <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
              <td class="px-6">{{ row['invoiceno'] }}</td>
              <td class="px-6">{{ row['stokawal'] }}</td>
              <td class="px-6">{{ row['stokakhir'] }}</td>
              <td class="px-6">{{ row['namabarang'] }}</td>
              <td class="px-6">{{ row['jenisbarang'] }}</td>
              <td class="px-6">{{ row['kodebarang'] }}</td>
              <td class="px-6">{{ row['kuantitasbarang'] }}</td>
              <td class="px-6">{{ row['day'] }}/{{ row['month'] }}/{{ row['year'] }}</td>
              <td class="px-6">{{ row['cluster'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
    <div class="mb-4 rounded bg-white dark:bg-gray-800 p-4">
      <p class="text-dark font-semibold mb-4">C. Analisa Cluster</p>
      <div class="grid grid-cols-2 gap-2 mb-4">
        <div class="flex items-center justify-start rounded">
          <img src="{{url_for('static',filename='img/clusters.png')}}" />
        </div>
        <div class="flex items-center justify-center rounded">
          <img src="{{url_for('static',filename='img/bsl.png')}}" class="w-75" />
        </div>
      </div>
    </div>
    <div class="flex justify-center items-center mb-8">
      <h2 class="font-bold">Hasil Evaluasi MPC : 0.9129172</h2>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  <script src="{{url_for('static', filename='jquery/jquery-3.6.0.min.js')}}"></script>
  <script src="{{url_for('static', filename='datatables/datatables.min.js')}}"></script>
  <script>
    $(document).ready(function () {
      $('#data-table').DataTable({
        lengthChange: false,
        "ordering": true,
        // searching: false,
        columnDefs: [{
          orderable: false,
          targets: "no-sort"
        }]
      });
    });
  </script>
</body>

</html>